@import url(http://fonts.googleapis.com/css?family=Playfair+Display:900|Josefin+Sans:400);

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after {display: table;  content: ''; }
.clearfix:after { clear: both; }

body {
	background: #2a2e39;
	color: #dbdbdb;
	font-weight: 400;
	font-size: 1em;
	font-family: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;
	height: 100%;
}
h2{
	font-size:1em;
}
a {
	color: #36b6dd;
	text-decoration: none;
}

a:hover,
a:focus {
	outline: none;
	color: #fff !important;
}